{% extends 'layout.html' %}
{% block content %}
        <div style="height: 100px;"></div>
    <center>
        <div class="shadow-lg p-3 mb-5 rounded" style="width:70%;">
            <div>
                <form id="pwd-form" action="{% url 'resetpassword' %}" method="post">
                    {% csrf_token %}
                    {% if not set %}
                        <input type="password" class="form-control" name="curr_password" placeholder="Current password"
                               required>
                        <br/>
                    {% endif %}
                    <input type="password" class="form-control" name="password" id="p1" placeholder="New password"
                           required>
                    <br/>
                    <input type="password" id="p2" class="form-control" placeholder="Confirm password" required>
                    <br/>
                    <button class="btn btn-primary" type="submit">Change</button>
                </form>
            </div>
        </div>
    </center>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('body').on('submit', '#pwd-form', function () {
                e.preventDefault();
                if ($('#p1').val() !== $('#p2').val()) {
                    alert('Password do not match!');
                    return false;
                } else {
                    $('#pwd-form').submit();
                }
            });
        });
    </script>
{% endblock %}

